

.rates-node {
    position: absolute;
    left: 0;
    right: 0;
    top: 35%;

    background: rgba(0,0,0,0.6);
    color: white;

    font-size: 13px;
    text-align: center;
    text-decoration: none;
}
