astroid==1.6.1
beautifulsoup4==4.6.0
bottle==0.12.13
certifi==2018.1.18
cfscrape==1.9.4
chardet==3.0.4
fixerio==0.1.1
idna==2.6
isort==4.3.4
lazy-object-proxy==1.3.1
lxml==4.2.1
mccabe==0.6.1
PyExecJS==1.5.1
pylint==1.8.2
python-box==3.1.1
requests==2.10.0
rope==0.10.7
six==1.11.0
urllib3==1.22
wrapt==1.10.11
